.block1{
   background-color: grey;
   border: 1px black solid;
   margin-bottom: 15px ;
}
.nav1{
    background-color: black;
    color: white;
    border: 1px black solid;
}
.block2{
   background-color: grey;
   border: 1px black solid;
   margin-bottom: 15px ;
}
.nav2{
    background-color: black;
    color: white;
    border: 1px black solid;
}
.block3{
   background-color: grey;
   border: 1px black solid;
   margin-bottom: 15px ;
}
.nav3{
    background-color: black;
    color: white;
    border: 1px black solid;
}
*{margin: 0 }

