.block1{
   background-color: grey;
   border: 1px black solid;
   margin-bottom: 15px ;
}
.nav1{
    background-color: black;
    color: white;
    border: 1px black solid;
}
.block2{
   background-color: grey;
   border: 1px yellow solid;
   margin-bottom: 15px ;
}
.nav2{
    background-color: black;
    color: white;
    border: 1px yellow solid;
}
.block3{
   background-color: grey;
   border: 1px black solid;
   margin-bottom: 15px ;
}
.nav3{
    background-color: black;
    color: white;
    border: 1px black solid;
}
*{margin: 0 }

@media(max-width: 767px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
    position: relative;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.67%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
