.top_nav{
background:rgba(0,0,0,0.8);
}

.block1{
  background-color:yellow;
  border-width:2px;
  border-style:solid;
}

.nav1{
  background-color:black;
  color:white:
}

.block2{
  background-color:orange;
    border-width:2px;
  border-style:solid;
}

.nav2{
  background-color:black;
  color:white;
}

.block3{
background-color:red;
    border-width:2px;
  border-style:solid;
}

.nav4{
  background-color:black;
  color: white;
}
